@using Academy.Core.Convertors
@model Academy.Model.ViewModels.UserForAdminViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست کاربران</h1>
    </div>
</div>
<!-- /.col-lg-12 -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                لیست کاربران سایت
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="col-md-12" style="margin: 10px 0;">
                            <a asp-area="Admin" asp-controller="User" asp-action="Create" class="btn btn-outline btn-success">افزودن کاربر جدید</a>
                        </div>
                        <div class="row">
                            <form>
                                <div class="col-sm-2 col-md-2">
                                    <div class="dataTables_length" id="dataTables-example_length">
                                        <label>
                                            <select id="drop" name="showCount" aria-controls="dataTables-example" class="form-control input-sm">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="5">5</option>
                                                <option value="100">100</option>
                                            </select>
                                            تعداد نمایش در هر صفحه
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <input type="text" name="filterUserName" class="form-control" placeholder="نام کاربری" />
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <input type="text" name="filterEmail" class="form-control" placeholder="ایمیل" />
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <button type="submit" class="btn btn-info">جستجو</button>
                                    <a class="btn btn-default btn-sm" href="/Admin/Users">خالی</a>
                                </div>
                            </form>


                        </div>

                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr>
                                    <th>نام کاربری</th>
                                    <th>ایمیل</th>
                                    <th>وضعیت</th>
                                    <th>تاریخ ثبت نام</th>
                                    <th>دستورات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users.ToList())
                                {
                                    <tr>
                                        <td>@user.UserName</td>
                                        <td>@user.Email.ToString()</td>
                                        <td>
                                            @if (user.IsActive)
                                            {
                                                <p class="text-success">فعال</p>
                                            }
                                            else
                                            {
                                                <p class="text-danger">غیر فعال</p>
                                            }
                                        </td>
                                        <td>@user.RegisterDate.ToShamsi()</td>
                                        <td>
                                            <a asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-userId="@user.UserId" class="btn btn-warning btn-sm">
                                                <i class="bi bi-pencil-square"></i>ویرایش
                                            </a>
                                            <a onClick=Delete('/Admin/User/Delete?UserID=@user.UserId') class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i>حذف</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">نمایش 1 تا @Model.Users.Count() از @Model.Users.Count() رکورد</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                    <ul class="pagination">
                                        @for (int i = 1; i <= Model.PageCount; i++)
                                        {
                                            <li class="paginate_button @((i == Model.CurrentPage) ? "active" : "")" aria-controls="dataTables-example" tabindex="0">
                                                <a href="/Admin/Users?pegeId=@i">@i</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

@section Scripts
    {
    <script>
        $("#drop").change(function () {
            window.location.href = '/Admin/Users?showCount=' + this.value;
        }
        );
    </script>

    <script>
        function Delete(url) {
            Swal.fire({
                title: 'آیا از حذف مطمئن هستید؟',
                text: "توجه: علملیات حذف قابل بازگردانی نخواهد بود.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'حذف'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                            }
                        }
                    })
                }
            })
        }
    </script>

}
