<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title> مای آکادمی </title>

    <partial name="_MetaTags" />
    <partial name="_Styles" />
    @RenderSection("CustomStyles",false)
    @RenderSection("MetaTag",false)
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <script src="/js/modernizr-custom.js"></script>

    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>
                                <a href=""> همکاری در فروش </a>
                                <a href="/AboutUs"> درباره ما </a>
                                <a href="/ContactUs"> تماس با ما </a>
                                <a href="/Forum"> انجمن </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="loggein">
                                    <i class="zmdi zmdi-account"></i><a href="/UserPanel"> @User.Identity.Name ، خوش آمدید </a> /
                                    <a href="/Logout"> خروج </a>
                                </div>
                            }
                            else
                            {
                                <div class="signin ">
                                    <i class="zmdi zmdi-account"></i>
                                    <a href="/Login"> ورود </a> /
                                    <a href="/Register"> عضویت </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </nav>

            @RenderSection("SearchBox",false)
        </div>
    </div>

    <!-- main manu -->
    @* <partial name="_MainMenu" /> *@
    <cache expires-after="@TimeSpan.FromMinutes(3)">
        @await Component.InvokeAsync("CourseCategory")
    </cache>
    <!-- /main manu -->
    <!-- content -->
    @RenderBody()
    <!-- /content -->
    <!-- footer -->
    <partial name="_Footer" />
    <!-- /footer -->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>